# Default ignored files
/shelf/
/workspace.xml

# IntelliJ project files
.idea/
*.iml

# Build output
out/
build/

# Compiled class files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
